<div ng-controller="dashboardController as dashboardCtrl">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <div class="text-uppercase" style="color: #9197a3;border-bottom: 1px solid #e9eaed;padding-bottom: 15px;font-size: 16px;font-weight: bold;">
                    <i class="fa fa-table fa-fw"></i> Tabulasi
                </div>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-md-6" >
            <div class="alert alert-info">
                <div style="margin-left: 20px;">
                    <ul style="margin:0px;">
                        <li>Click <b>Nama Wilayah</b> untuk membuka data tabulasi suara.</li>
                        <li>Click <b>Nama Kandidat</b> untuk membuka Profil Kandidat.</li>
                    </ul>
                </div>
                <div style="position: absolute;top:20px;"><i class="fa fa-info-circle fa-2x"></i></div>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-2 text-right">
            <div  class="text-left" style="width:270px">
                <div class="form-group" ng-include="selectedTemplate.tahun"></div>
                <div class="form-group">
                    <div class="dropdown dropdown-display">
                        <div class="dropdown-toggle" data-toggle="dropdown">
                            <b>Kepala Daerah Tingkat</b>: {{tingkat}}  <i class="fa fa-caret-down"></i>
                        </div>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="javascript:" ng-click="setTingkat('Provinsi')">Kepala Daerah Tingkat Provinsi</a>
                            </li>
                            <li>
                                <a href="javascript:" ng-click="setTingkat('Kabupaten-Kota')">Kepala Daerah Tingkat Kabupaten/ Kota</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="input-group custom-search-form">
                    <label class="fa fa-search"></label>
                    <input type="text" ng-model="$parent.KandidatWilayah0" placeholder="Cari Wilayah">
                </div>
            </div>
        </div>
    </div>

    <div ng-controller="tabulasiController
                        as tabulasiCtrl">

        <div class="row" >
            <div class="col-lg-12">

                <div ng-show="tabulasiCtrl.showTable(tabulasiCtrl.KandidatWilayahs)" style="overflow-x: auto;font-size: 9pt;">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Nama</th>
                                <th>Kandidat</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="kandidatWilayah in tabulasiCtrl.KandidatWilayahs| orderBy :'nama' | filter: $parent.KandidatWilayah0">
                                <td ng-click="tabulasiCtrl.getChild(kandidatWilayah)"><a href="javascript:">{{kandidatWilayah.nama}}</a></td>
                                <td>
                                    <div class="row" >
                                        <div class="col-md-4" ng-repeat="kandidat in kandidatWilayah.kandidat| orderBy :'-jumlahKomentar'">
                                            <div class="panel panel-default" style="border:0px;cursor: pointer;" ng-click="openPage('#/profilkandidat.html/', kandidat, kandidatWilayah)">
                                                <div class="panel-body kandidat" style="height:162px;">
                                                    <div class="row" >
                                                        <div style="float:left;">
                                                            <img ng-src="{{kandidat.img_url}}" class="img-responsive attach-foto1">
                                                        </div>
                                                        <div class="text-right">
                                                            <div class="huge"><i class="fa fa-comments-o"></i>{{kandidat.jumlahKomentar}}</div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12 text-center text-uppercase text-primary" style="padding-top: 10px;">{{kandidat.nama}}</div>
                                                        <div class="col-xs-12 text-center text-uppercase text-muted">No Urut {{kandidat.urut}}</div>
                                                        <div class="col-xs-12 text-center text-uppercase text-muted">KPU Peserta ID {{kandidat.kpu_id_peserta}}</div>
                                                    </div>    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-show="tabulasiCtrl.blmadaData"><td colspan="3">Belum ada data...</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="padding-top: 50px">
        <div class="col-lg-12">
            <div class="form-group">
                <div class="text-uppercase" style="color: #9197a3;border-bottom: 1px solid #e9eaed;padding-bottom: 15px;font-size: 16px;font-weight: bold;">
                    Informasi Kelengkapan Data 
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green1">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-inbox fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{panelproprerty.TPS}}</div>
                            <div>TPS</div>
                        </div>
                    </div>
                </div>
                <a href="javascript:">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-blue">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-users fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{panelproprerty.kandidat}}</div>
                            <div>Wilayah PASLON</div>
                        </div>
                    </div>
                </div>
                <a href="javascript:">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red1">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-user fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"><a href="javascript:" ng-click="dashboardCtrl.getUser()" style="color:white;text-decoration: none;">{{panelproprerty.users}}</a></div>
                            <div>Pengguna</div>
                        </div>
                    </div>
                </div>
                <a href="javascript:">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-oranye">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{panelproprerty.comments}}</div>
                            <div>Comments</div>
                        </div>
                    </div>
                </div>
                <a href="javascript:">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-globe fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{panelproprerty.provinsi}}</div>
                            <div>Provinsi</div>
                        </div>
                    </div>
                </div>
                <a href="javascript:">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-globe fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{panelproprerty.kabupaten}}</div>
                            <div>Kabupaten/ Kota</div>
                        </div>
                    </div>
                </div>
                <a href="javascript:">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-globe fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{panelproprerty.kecamatan}}</div>
                            <div>Kecamatan</div>
                        </div>
                    </div>
                </div>
                <a href="javascript:">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-globe fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{panelproprerty.desa}}</div>
                            <div>Desa Kelurahan</div>
                        </div>
                    </div>
                </div>
                <a href="javascript:">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

    </div>

