<li>
    <div style="padding: 10px;">
        <a href="javascript:" class="btn btn-block btn-social btn-twitter" ng-click="userCtrl.login('/login?form_action=logintwit&rurl=')">
            <i class="fa fa-twitter fa-lg"></i>Login dengan Twitter
        </a>
    </div>
</li>

<li>
    <div style="padding: 10px;">
        <a href="javascript:" class="btn btn-block btn-social btn-facebook" ng-click="userCtrl.login('/login?form_action=loginfb&rurl=')">
            <i class="fa fa-facebook"></i> Login dengan Facebook
        </a>
    </div>
</li>